{% from 'form_helper.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block title %}
Registration
{% endblock %}
{% block content %}

    <h1>Get Sarted</h1>
    <p>First time here? Register to start using Chat App</p>
    <form  action="{{url_for('index')}}", method="POST">
      

        {{displayField(form.username,'username',autocomplete="off",autofocus=true)}}
        {{displayField(form.password,'Password')}}
        {{displayField(form.confirm_pswd,'Retype password')}}


        <div>
            {{ form.submit_button  }}
        </div>
        {{form.csrf_token}}

                    
                    
                    
    </form>

    
{% endblock %}